body {
  background-color: greenyellow;
}
button {
  background-color: greenyellow;
}
button:hover {
  background-color: yellow;
  padding: 5px 10px;
}
a:hover {
  background: yellow;
  padding: 5px 5px;
}
a {
  padding: 5px 10px;
  background: white;
}
